.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-language {
  background-color: #282c34;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-language>* {
  padding: 10px;
}

.App-language>a {
  background-color: green;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}